use flake .#panda-prosthesis-full-devel
export MC_RTC_CONTROLLER_CONFIG=/home/nixos/workspace/devel/panda_prosthesis_rolkneematics/.mc_rtc.local.yaml
export LD_LIBRARY_PATH=/home/nixos/workspace/install/lib:$LD_LIBRARY_PATH
